$blue: #2353d9;
$background : #f9faff;
$green: #d0f2ca;
$red: #ffe0e0;
$icon-blue: #e9efff;
$purple: #a394ff;
$yellow: #fcebb0;
$btn-red: #ffecea;
$border-red: #fedfdc;
$grey:#fafafa;
$btn-green: #f2fbe9;
$border-green: #d4e8c8;
$table-blue:#f6faff;
$global-capped-width: 1368px;
